<%= render "partials/nav/travels_index_nav"%>

<!-- added div container -->
<div class="travel-container">

  <section class="section">

    <h1>Edit Travel Route</h1>

    <%= render "travels/form", travel_data: @individual_travel %>

  </section>

</div>
