
<%= render "partials/nav/travels_index_nav"%>

<!-- added div container -->
<div class="travel-container">

  <section class="section">

    <h1>Create New Travel Route</h1>

    <%= render "travels/form", travel_data: @new_travel %>

  </section>

</div>
