@import "variables";

// Team Section

.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        margin: 0 auto;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

#team-section {
  padding: 50px;
}

.team-row{
  padding: 50px;
}

// animate team
.team-col {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.5s ease-in-out;

  &.pop{
    opacity: 1;
    transform: translateX(0px);
  }
}
