<footer class="" id="footer">

  <div class="location-info">

      <span aria-hidden="true" class="fa fa-map-marker"></span> 8 Claymore Hill, Singapore<br />
      <span aria-hidden="true" class="fa fa-phone"></span> Phone: +65 commuter<br />
      <span aria-hidden="true" class="fa fa-envelope"></span> Email:
      <a href="" class="link-dec">awesome@commuter.com</a><br />

  </div>

</footer>
