<footer class="" id="footer">

  <div class="container">
    <div class="row">
      <div class="span6 offset3">
        <ul class="social-networks">
          <li>
            <a href="#">
              <i class="fa fa-facebook on fa-square-o fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter on fa-square-o fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram on fa-square-o fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-pinterest on fa-square-o fa-2x"></i>
            </a>
          </li>
        </ul>
        <p class="copyright">
          &copy; Commuters.
        </p>
      </div>
    </div>
  </div>

</footer>
