<%= @conversation.inspect %>

<div class="panel-body">
  <div class="messages-list">
      <% @conversation.messages.each do |message| %>
      <h1><%= message.body %></h1>
      <% end %>
  </div>
  <form class="new_message">
    <input name="conversation_id" type="hidden" value="<%= @conversation.id %>">
    <input name="user_id" type="hidden" value="<%= current_user.id %>">
    <input id="submit_enter" name="body" class="form-control"></input>
    <input type="submit" class="btn btn-success" value="Send">
  </form>
</div>
