<%= render "partials/nav/interest_nav"%>

<!-- add div container by arif -->
<h1>Add Interests</h1>

<div class="interest-container">

      <div class="columns">
        <% @all_interests.each do |interest| %>
        <div class="column">
          <p class="notification is-info">

            <div class="card card-inverse" style="background-color: #FFC300; border-color: #FFC300;">
              <div class="card-block">
                <h3 class="card-title text-center">Interest: <%= interest.interest %></h3>
                <p class="card-text text-center">Interest Category: <%= interest.interest_category%></p>
                <div class="text-center">
                <%= link_to "Add to My Profile",  interest_register_path(interest.id), method: :post , class: "btn btn-danger" %>
                </div>
                    <br /><br />
              </div>
            </div>

          </p>
        </div>
        <% end %>
      </div>
    </div>
  </section>

</div>
