<%= render "partials/nav/interest_nav"%>

<!-- add div container by arif -->
<div class="interest-container">

  <section id="all-interest" class="section">
    <div class="container">
      <%= link_to "New Interest!!!!", new_interest_path, class: "button is-warning" %>

      <div class="columns">
        <% @all_interests.each do |interest| %>
        <div class="column">
          <p class="notification is-info">

            Interest Category: <%= interest.interest_category%><br>
            Interest: <%= interest.interest %><br>

            
          </p>
        </div>
        <% end %>
      </div>
    </div>
  </section>

</div>
