<!--header-->
<header class="login-header" id="header">
  <div class="bg-color">
    <!--nav-->
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="login-container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myleftnavbar" aria-expanded="false" aria-controls="navbar">
              <span class="fa fa-bars"></span>
            </button>
            <a href="/users/sign_in" class="navbar-brand">Login</a>
          </div>

          <div class="collapse navbar-collapse navbar-left" id="myleftnavbar">

            <ul class="nav navbar-nav">
              <li>
                <a href="/">
                  <span class="glyphicon glyphicon-home"></span>
                  Home</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/about">
                  <span class="glyphicon glyphicon-info-sign  "></span>
                  About</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/commuters">
                  <span class="glyphicon glyphicon-user"></span>
                  View Commuter</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/travels">
                  <span class="glyphicon glyphicon-road"></span>
                  Routes</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/interests">
                  <span class="glyphicon glyphicon-list"></span>
                  Interests</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/interests">
                  <span class="glyphicon glyphicon-earphone"></span>
                  Contact Us</a>
              </li>
            </ul>

          </div>

        </div>

      </div>

    </nav>

  </div>
</header>

<!--/ header-->
