<!--header-->
<header class="signup-header" id="header">
  <div class="bg-color">
    <!--nav-->
    <nav class="nav navbar-default navbar-fixed-top">
      <div class="signup-container">
        <div class="col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="fa fa-bars"></span>
            </button>
            <a href="/users/sign_up" class="navbar-brand">SignUp</a>
          </div>

          <div class="collapse navbar-collapse navbar-left" id="myleftnavbar">

            <ul class="nav navbar-nav">
              <li>
                <a href="/">
                  <span class="glyphicon glyphicon-home"></span>
                  Home</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/commuters">
                  <span class="glyphicon glyphicon-user"></span>
                  View Commuters</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/travels">
                  <span class="glyphicon glyphicon-road"></span>
                  Routes</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/interests">
                  <span class="glyphicon glyphicon-list"></span>
                  Add Interests</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/myinterests">
                  <span class="glyphicon glyphicon-user"></span>
                  My Interests</a>
              </li>
            </ul>

            <ul class="nav navbar-nav">
              <li>
                <a href="/matches">
                  <span class="glyphicon glyphicon-user"></span>
                  Matches</a>
              </li>
            </ul>

          </div>

          <div class="collapse navbar-collapse navbar-right" id="myrightnavbar">
            <ul class="nav navbar-nav">

              <% if user_signed_in? %>

              <li><%= link_to "Profile", edit_user_registration_path, :class => 'glyphicon glyphicon-edit' %></li>

              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'glyphicon glyphicon-log-out' %> </li>

            <% else %>

              <li><%= link_to " SignUp", new_user_registration_path, :class =>'glyphicon glyphicon-share'  %></li>

              <li><%= link_to " Login", new_user_session_path, :class =>'glyphicon glyphicon-log-in'  %></li>

              <% end %>


            </ul>
          </div>
        </div>
      </div>
    </nav>

  </div>
</header>
