@import "variables";

// footer new

footer {
	background: rgb(179, 0, 0);
	text-align: center;
	color: #ddd;
	padding:10px 0 10px;
	height: 80px;
}

footer a {
    color: #ddd;
}

footer a:hover {
    color: #fff;
}

.team-footer {
  color: white;
  text-align: cente;
}
