@import "variables";

.home-header .navbar-default .navbar-brand {
  color: $red-pink;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-brand {
  color: $red-pink;
}

.navbar-default .navbar-nav > li > a {
  color: $red-pink;
}
