@import url("https://fonts.googleapis.com/css?family=PT+Sans");

$orange: #E76F51;
$primary : #F4A261;
$yellow: #E9C46A;
$green: #2A9D8F;
$navy: #264653;
$red: #f24711;

$font-type: 'PT Sans', sans-serif;
