// *= require_tree .
// *= require_self
//app/assets/stylesheets/application.scss
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "variables";
@import "nav";

body {
  color: $navy;
  font: $font-type;
}

h1 {
  color: $red-pink;
}

#footer {
  background-color: $red-pink;
  padding: 10px 0 10px;
  height: 10px 0px;
  margin-top: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-copyright {
  color: #fff;
  line-height: 32px;
  text-align: left;
  padding-left: 20px;
}

.card {
  border-style: solid;
  width: 25%;
  margin-bottom: 10px;
}
